
@using TicketsSystem.BL.ViewModels.Tickets;

@model TicketDetails;

@{
    var ticket = Model;
}


<div class="container">

           <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@ticket.Id</h5>
                            <h5 class="card-title">@ticket.DevelopersNumber</h5>
                        <h5 class="card-title">@ticket.Description</h5>
                         <h6 class="card-subtitle mb-2 text-muted">@ticket.Severity</h6>      
                            <h6 class="card-subtitle mb-2 text-muted">@ticket.DepartmentName</h6>  
                            <a href="/Tickets/Edit/@ticket.Id">Edit</a>
                            <a href="/Tickets/Delete/@ticket.Id">Delete</a>
                  
                    </div>
                </div>
    
</div>
